
body {
    font-family: "Nunito";
    margin: 0;
    padding: 0;
    background-color: #F8F1DA;
    color: #404497;
    text-align: center;
    margin-top: 20px;
}

header h1 {
    font-size: 5rem;
    font-family: "Luckiest Guy";
    margin: 0;
    color: #404497;
}

header h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 10px 0 0;
    color: #404497;
}


.image-container img {
    margin: -140px;
    max-width: 100%;
    width: 900px; 
    height: auto; 
}

p {
    font-size: 1rem;
    text-align: center;
    margin: 150px;
}
