body {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  background-color: #f8f1da;
  color: #404497;
  text-align: center;
  margin-top: 20px;
}

/* Estilos generales de la navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #404497;
  color: #f8f1da;
  z-index: 1000;
}

.navbar .title {
  font-size: 30px;
  font-family: "Luckiest Guy", sans-serif;
}

/* Contenedor del menú */
.menu {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.menu a {
  color: #f8f1da;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  padding-right: 30px;
  justify-content: center;
}

.menu a:hover {
  color: #f39c12;
}

/* Contenedor de imágenes */
.navbar-image-container {
  display: flex;
  gap: -1px;
  align-items: center;
}

.navbar-image {
  max-width: 80px; /* Limitar el ancho máximo */
  max-height: 80px; /* Limitar el alto máximo */
  width: auto; /* Mantener proporción si es necesario */
  height: auto; /* Ajustar el tamaño según proporción */
  object-fit: contain; /* Asegurar que la imagen no se deforme */
  transition: transform 0.3s ease;
  padding-top: 5px;
  padding-right: 20px;
}

.navbar-image:hover {
  transform: scale(1.1);
}

/* Diseño responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    text-align: center;
  }

  .menu {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }

  .navbar-image {
    display: none;
  }
}

header h1 {
  font-size: 30px;
  font-family: "Nunito";
  margin: 100px;
  color: #404497;
}

.portada-container img {
  margin: auto;
  margin-top: -60px;
  max-width: 100%;
  width: 800px;
  height: auto;
}

p {
  font-size: 1rem;
  text-align: center;
  margin: 10px;
}
